# Compiled
*.elc
*.elc~
ac-comphist.dat
# Packaging
.cask

# projectile stuff
projectile*

# temp emacs files
\#*\#
.\#*

recentf
srecode-map.el
network-security.data
bookmarks
helm-adaptive-history
elpa/
backups/
eshell/
auto-save-list/
autosaves/
irony/
games/
# Mac specific stuff
.DS_Store
.python-environments